build/intermediates/
build/android-profile/
app/build/intermediates/
app/build/generated/
.gradle/4.0-rc-1/
app/build/outputs/
captures/cool.lucasleabres.ruby_2018.01.28_13.33.li
captures/cool.lucasleabres.ruby_2018.01.27_23.22.li
captures/cool.lucasleabres.ruby_2018.01.27_22.57.li
captures/cool.lucasleabres.ruby_2018.05.11_00.49.li
captures/cool.lucasleabres.ruby_2018.04.09_14.15.li
captures/cool.lucasleabres.ruby_2018.01.27_22.56.li
captures/cool.lucasleabres.ruby_2018.01.27_20.52.li
.gradle/4.4/fileChanges/last-build.bin
build/kotlin-build/version.txt
.idea/caches/build_file_checksums.ser
.idea/assetWizardSettings.xml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/javaCompile/taskJars.bin
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/jarAnalysis.bin
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileContent/fileContent.lock
